[user]
	name = Nikita Sementsov
[init]
  defaultBranch = main
[push]
	default = current
[alias]
  # check zsh git plugin aliases: https://kapeli.com/cheat_sheets/Oh-My-Zsh_Git.docset/Contents/Resources/Documents/index
	coa = !git add -A && git commit -m
	ch = checkout
	co = checkout
	com = commit
	br = branch
	st = status
	lga = !git log --graph --all
	lag = !git log --graph --all
