[user]
  name = Nikita Sementsov
  email = nikita.sementsov@zfx.com
[init]
  defaultBranch = main
[push]
	default = current
[alias]
  # check zsh git plugin aliases: https://kapeli.com/cheat_sheets/Oh-My-Zsh_Git.docset/Contents/Resources/Documents/index
	coa = !git add -A && git commit -m
	ch = checkout
	co = checkout
	com = commit
	br = branch
	st = status
	lga = !git log --graph --all
	lag = !git log --graph --all
[core]
  excludesfile = /Users/ns/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
